doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Post an idea
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='styles/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
  body
   .row 
      nav
        .nav-wrapper
          a.brand-logo(href='#!') Logo
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='sass.html') Home
            li.active
              a(href='/allideas') All ideas
            li
              a(href='/postfeature') Post idea
            li
          ul#mobile-demo.side-nav
            li
              a(href='sass.html') Home
            li
              a(href='badges.html') All ideas
            li.active
              a(href='/postfeature') Post idea
            li
  .row
   .input-field.col.s12
    ul.collapsible(data-collapsible='accordion')
      each val, index in data
       li
        .collapsible-header
          i.material-icons filter_drama
          p=val.title
        .collapsible-body
          p=val.description
