doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Starter Template - Materialize
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='styles/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
  body
   .row
      form.col.s12
        .row
          .input-field.col.s6
            input#first_name.validate(placeholder='Placeholder', type='text')
            label(for='first_name') First Name
          .input-field.col.s6
            input#last_name.validate(type='text')
            label(for='last_name') Last Name
        .row
          .input-field.col.s12
            input#disabled.validate(disabled='', value='I am not editable', type='text')
            label(for='disabled') Disabled
        .row
          .input-field.col.s12
            input#password.validate(type='password')
            label(for='password') Password
        .row
          .input-field.col.s12
            input#email.validate(type='email')
            label(for='email') Email
        .row
          .input-field.col.s12
            textarea#textarea1.materialize-textarea
            label(for='textarea1') Textarea
   
   
