doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Post an idea
    // CSS
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='styles/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    script(src='js/materialize.js')
    script(src='js/init.js')
    script(src='/socket.io/socket.io.js')
    script.
      // var socket = io();
      $( document ).ready(function(){
      var socket = io();

      $('.votebutton').click(function(){
      var selector =  "votevalue_" + ($(this).val());
      var currentval = $("#" + selector).text();
      var num = parseInt(currentval) + 1
      socket.emit('test', { my: num, selector: selector});
      return false;
      });

      socket.on('test', function(data){
      $("#" + data.selector).append($("#" + data.selector).text(data.my));
      });

      });
  body
   .row 
      nav
        .nav-wrapper
          a.brand-logo(href='#!') Logo
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='sass.html') Home
            li.active
              a(href='/allideas') All ideas
            li
              a(href='/postfeature') Post idea
            li
          ul#mobile-demo.side-nav
            li
              a(href='sass.html') Home
            li
              a(href='badges.html') All ideas
            li.active
              a(href='/postfeature') Post idea
            li
    table
      each val, index in data
       tr 
        td
          button.btn.waves-effect.waves-light(class="votebutton" value=val.id) Vote
            i.material-icons.right thumb_up
        td
            p=val.title
        td
           p(id='votevalue_' + val.id) 0
           
          
