doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Post an idea
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='styles/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
    script.
      $(document).ready(function() {
      $('select').material_select();
      });
  body
   .row 
      nav
        .nav-wrapper
          a.brand-logo(href='#!') Logo
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='sass.html') Home
            li
              a(href='allideas') All ideas
            li.active
              a(href='/postfeature') Post idea
            li
          ul#mobile-demo.side-nav
            li
              a(href='sass.html') Home
            li
              a(href='badges.html') All ideas
            li.active
              a(href='/postfeature') Post idea
            li
   .input-field.col.s12
   .row
      form(action='/createidea' method='post')
        .row
          .input-field.col.s12
            input#password.validate(type='text', name='title')
            label(for='password') Your idea in one sentence
          .input-field.col.s12
             select(name='categories')
                option(value='') 
                option(value='Development') Development
                option(value='Sales') Sales
                option(value='Features') Features
              label Choose category
          .input-field.col.s12
            textarea(name='description')#textarea1.materialize-textarea
            label(for='textarea1') Describe your idea...(optional)
          .input-field.col.s12
            input#email.validate(type='email', name='email')
            label(for='email') Your email address
            button.btn.waves-effect.waves-light(type='submit')
             | Submit
             i.material-icons.right send


   
   
